:root {
    --cor-principal: #f31b10d2;
    --cor-fonte: #f5f0f0;
}

body {
    background: var(--cor-principal);
    font-family: Verdana, Tahoma, sans-serif;
}

header {
    color: var(--cor-fonte);
    text-align: center;
}

.container {
    width: auto;    
}

#textInput, #countButton {
    display: block;
    margin: 0 auto;
}

#lettersDiv, #wordsDiv {
    font-size: 1.5em;
    display: block;
    width: auto;
    margin: 0 auto;
    color: var(--cor-fonte);
    vertical-align: top;
    padding: 10px;
}
